* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: #fff;
}
.container {
  width: 960px;
  margin: 0 auto;
}

.section {
  padding: 50px 0;
}

/* ---NAVIGATION --- */

.navigation {
  width: 100%;
  height: 50px;
  background-color: #4e4e4e;
}

.navigation-content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.company {
  font-size: 18px;
  font-weight: 700;
}
.nav-item-list {
  display: flex;
  gap: 46px;
}

.nav-item {
  font-size: 18px;
  font-weight: 400;
  color: #f1f1f1;
  cursor: pointer;
}
.nav-cto {
  font-size: 18px;
  font-weight: 400;
  color: #f1f1f1;
  text-decoration: none;
}

.not-allowed {
  cursor: not-allowed;
}

/* ---HEADER--- */

.main-page {
  position: relative;

  width: 100%;
  height: 100vh;
  background-image: url("./assets/sekcyjneTlo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-page-content {
  position: relative;
  z-index: 1;

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.main-page-slogan {
  width: 570px;
  font-size: 36px;
  font-weight: 700;
}

.main-page-subtitle {
  width: 570px;
  font-size: 18px;
  font-weight: 700;
}
.main-page-cto {
  width: fit-content;
  padding: 10px 50px;

  background-color: transparent;

  border: 3px solid #fff;

  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #fff;

  text-decoration: none;

  cursor: pointer;
  transition-duration: 1s;
}

.main-page-cto:hover {
  color: #000000;
  background-color: #fff;
}

.main-page-overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: #000000;
  opacity: 15%;
}

.our-crew-section {
  width: 100%;
  height: auto;
  background-color: #f1f1f1;
}

/* ---OUR CREW SECTION--- */

.our-crew-section {
  width: 100%;
  height: auto;
  background-color: #f1f1f1;
}

.our-crew-section-content {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.crew-section-slogan {
  font-size: 36px;
  font-weight: 700;
  color: #152d41;
}

.our-crew-list {
  display: grid;
  grid-auto-flow: dense;
  
  gap: 50px;
}

.our-crew-list-element {
  display: flex;
  align-items: center;
  gap: 50px;
}

.our-crew-list-element:nth-child(4n + 4) {
	grid-column: 1;
}

.our-crew-list-element:nth-child(4n + 3) {
	grid-column: 2;
}

.our-crew-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  align-items: center;
}

.our-crew-text {
  
  height: 200px;
  text-align: left;
  
}

/* <!-- COVERS END --> */

.list-element-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.crew-name {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

.crew-description {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
}

/* <!-- OFFER SECTION --> */

.offer-section {
  width: 100%;
  height: auto;

  background-color: #405d78;
}

.offer-section-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.offer-section-slogan {
  font-size: 36px;
  font-weight: 700;
  color: #ffffff;
}

.offer-tiles {
  width: fit-content;
  padding: 65px 0px 0px 0px;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px;
  gap: 60px;
}

.offer-tile {
  padding: 10px 10px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 3px;

  cursor: pointer;

  background-color: #f1f1f1;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  transition: 0.5s linear;
}

.offer-tile:hover {
  scale: 1.05;
}

.tile-text {
  font-size: 24px;
  font-weight: 400;
  color: #000000;
}

.tile-description {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
}

.new {
  position: relative;
}

.orange-point {
  width: 20px;
  height: 20px;
  background-color: #e07a64;
  border-radius: 50%;

  position: absolute;
  top: -10px;
  left: -10px;
}

/* FOOTER */

.footer {
  width: 100%;
  height: 70px;
  background-color: #4e4e4e;
}

.footer-content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-icons {
  display: flex;
  gap: 20px;
}
.icon {
  color: #fafafa;
}
